<head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>  
    <h1>Error Page</h1>
    <main>
        <p class="error">You did not input anything! Please type in name of person in Input</p>
        <a href="/">Make another search</a>
        {{{body}}}
    </main>
</body>