<head>
<title> Error Page </title>
<link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
<h1>Sorry you are not logged in! Try to login first</h1>
<a href="/">Try to login </a>   
</body>
