<head>
<title>Logout Page</title>
<link rel="stylesheet" href="/public/css/site.css">
</head>

<body>
<h1>You have successfully logged out!!!</h1>
<main>
<p><a href="/">Login Again</a></p>
</main>   
</body>

